<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <h1>Help</h1>
    <a class="btn-basic" href='/'>Yaaah!</a>


  </body>
</html>
