.btn-basic {
  background-color: #294667;
  border-style: solid;
  border-width: 2px;
  border-radius: 15%;
  color: white; /* Blue Marine */
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: auto;
}

.btn-basic:hover {
    background-color: #ffa800; /* Orange */
    color: white;
}

.btn-basic:active{
  background-color: grey
}
